<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	<style type="text/css">
		body, html{width: 100%;height: 100%;margin:0;font-family:"微软雅黑";}
		#l-map{height:500px;width:120%;}
	</style>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=VtjTxtTZWUq5yB9PvEuKtOkI"></script>
    <title></title>
</head>
<body>
    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">区域与公共数据平台</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="{{ url_for('myapp.updatedlog') }}">首页</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">区域数据<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">全国数据</a></li>
                  <li><a href="{{ url_for('myapp.provincedataquery') }}">省级数据</a></li>
                  <li><a href="{{ url_for('myapp.prefecturedataquery') }}">地级数据</a></li>
                  <li><a href="#">县级数据</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">城市数据</a></li>
                    <li><a href="#">混合区域数据</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">微观数据<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">CGSS数据</a></li>
                  <li><a href="#">CHIPS数据</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">企业数据<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">工业企业数据</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">定制数据<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ url_for('myapp.aqiquery') }}">城市空气质量</a></li>
                  <li><a href="{{ url_for('myapp.hospitalquery') }}">省直辖市医院</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="{{ url_for('myapp.userdata') }}">用户数据</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">数据分析工具箱<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ url_for('myapp.edatool') }}">探索性数据分析</a></li>
                  <li><a href="{{ url_for('myapp.bdmapesda') }}">空间数据可视化</a></li>
                  <li role="separator" class="divider"></li>
                    <li><a href="#">机器学习</a></li>
                    <li><a href="#">空间回归模型</a></li>
                    <li><a href="#">计量回归模型</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="../navbar-static-top/">帮助文档</a></li>
              <li><a href="{{ url_for('myapp.fileupload') }}">上传数据</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
    </div> <!-- /container -->

    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <h4>探索性可视化</h4>
          <br>
          <label for="mydata">我的数据集</label>
          <a class="btn btn-default" role="button" name="mydata" href="{{ url_for('myapp.mydataset') }}">进入</a>
            <br>
            <br>
            <form method="POST">
            <div class="form-group">
              <label for="location">检索变量</label>
              <select id="location" name="location" class="form-control">
                  <option value=0>没有选择</option>
                  {% for var in variables %}
                      <option value="{{ var }}">{{ variables[var] }}</option>
                  {% endfor %}
              </select>
            </div>
            <button type="submit" class="btn btn-success" id="to_be_submit">提交</button>
            <button type="button" class="btn btn-success" id="to_be_submit" onclick="bdGEO()">标示</button>
          </form>
        </div>


        <div class="col-md-8">
            <div id="l-map"></div>
        </div>
      </div>
      <hr>

      <footer>
        <p>&copy; 华东理工商学院 2015</p>
      </footer>
    </div>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript">
        // 百度地图API功能
        var map = new BMap.Map("l-map");
        map.centerAndZoom(new BMap.Point(116.404, 39.915), 5);;
        map.enableScrollWheelZoom(true);
        var index = 0;
        var myGeo = new BMap.Geocoder();
        var adds = {{ locations|safe }}
        function bdGEO(){
            var add = adds[index];
            geocodeSearch(add);
            index++;
        }
        function geocodeSearch(add){
            if(index < adds.length){
                setTimeout(window.bdGEO,400);
            }
            myGeo.getPoint(add, function(point){
                if (point) {
                    var address = new BMap.Point(point.lng, point.lat);
                    addMarker(address,new BMap.Label(index+":"+add,{offset:new BMap.Size(20,-10)}));
                }
            });
        }
        // 编写自定义函数,创建标注
        function addMarker(point,label){
            var marker = new BMap.Marker(point);
            map.addOverlay(marker);
        }
    </script>
</body>
</html>